<!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top p-0">
        <div class="container">
            <a href="https://www.sridhanalakshmijewellers.com/" class="navbar-brand fw-bold" href="https://chentamil.github.io/"><img data-visualcompletion="media-vc-image"
                    style="width: 48px;height: 48px; object-fit: contain;border-radius: 4px;"
                    src="https://cdn.jsdelivr.net/gh/chentamil/sdjewellers@main/images/sdj-logo-white.jpg">
                        <span class="brand-text ms-2 d-none d-sm-inline">
                            Sri Dhanalakshmi Jewellers
                        </span>
                        <span class="brand-text ms-2 d-inline d-sm-none">
                            S D Jewellers
                        </span>             
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu"><span
                    class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="menu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="/#about">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="/#collections">Collections</a></li>
                    <li class="nav-item"><a class="nav-link" href="/#services">Services</a></li>
                    <li class="nav-item"><a class="nav-link" href="/#why">Why Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="/#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
 <!-- gold rate Json start -->
        <div class="rate-bar">
        <marquee scrollamount="8" behavior="scroll" direction="left">
            💰 <span class="me-4">Gold: ₹<span id="gold-rate"></span>/g</span> 
            🥈 <span class="me-4">Silver: ₹<span id="silver-rate"></span>/g</span>
            📅 <span class="me-4">Updated: <span id="last-updated"></span></span>
        </marquee>
        </div>
